@charset "UTF8";

body {
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkmagenta;
    background-color: lightblue;
}

h2 {
    color: darkblue;
}

p{
    text-align: justify;
}